omegaconf==2.3.0
Pillow==11.3.0
einops==0.8.1
torchmcubes @ git+https://github.com/tatsy/torchmcubes.git@3381600ddc3d2e4d74222f8495866be5fafbace4
transformers==4.55.0
trimesh==4.7.1
rembg==2.0.67
huggingface-hub==0.34.3
imageio[ffmpeg]==2.37.0
gradio==5.41.1
xatlas==0.0.9
moderngl==5.10.0
onnxruntime-gpu==1.22.0
runpod